@bg-colour: #202732;
@yellow: #fff1c1;
@red: #f76262;
@blue: #216583;
@green: #3ca87f;

@font-m: 1rem;
@font-l: 1.3rem;
@font-xl: 1.5rem;

@body-width-desktop: 75%;

@font-colour-base: darken(#ffffff, 10%);

.hide {
    display:none;
}

html {
    background-color: @bg-colour;
    height:100%;
    margin:0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: @font-colour-base;
    height:100%;
    overflow: auto;
}

button {
    background-color: @green;
    color: #ffffff;
    font-size: @font-xl;
    border: 0;
    border-radius: 5px;
    padding:1rem 2rem;
    margin-top:1rem;
    &:hover {
        background-color: darken(@green, 10%);
    }
    &:active {
        background-color: darken(@green, 20%);
    }

    @media (max-width: 768px) {
        width: 100%;
        font-size: @font-l;
    }
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    font-size: @font-l;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.layoutwrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}

#header {
    background-color: @blue;
    color:#ffffff;
    font-size: @font-m;
    margin:0;
    padding: 1.5rem 0 1rem 0;
    @media (min-width: 768px) {
        padding: 3rem 0rem 2rem 0rem;
    }
    h1 {
        @media (max-width: 768px) {
            font-size: @font-l;
        }
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

#content {
    width: 100%;
    margin: auto;
    padding: 2rem 2rem;
    box-sizing: border-box;
    .startscreenstep {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100vw);
        transition: transform 0.3s ease-in-out;
        &.show {
            transform: translateX(0);
        }
        &.hide {
            transform: translateX(-100vw) !important;
        }
        @media (min-width: 768px) {
            width: @body-width-desktop;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#adminview {
    #content {
        justify-content: space-evenly;
        align-content: center;
        display: flex;

        #playerlist {
            min-width: 20%;
            h2 {
                margin-top:0.5rem;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    border: 1px solid lighten(@bg-colour, 20%);
                    border-radius: 5px;
                    background-color: lighten(@bg-colour, 10%);
                    padding: 0.6rem;
                    margin-bottom: 1rem;
                }
            }
        }

        #control {
            min-width: 25%;
            display:flex;
            flex-direction: column;
            
            ol {
                list-style-position: inside;
                padding-left:0;
                li {
                    font-size: @font-l;
                    padding:0.5rem 0.5rem;
                    &:hover {
                        background-color: lighten(@bg-colour, 10%);
                    }
                    &::before {
                        width:1rem;
                        content: " ";
                        display: inline-block;
                    }
                    .time {
                        float: right;
                        margin-left:2rem;
                        color: darken(@font-colour-base, 20%);
                    }
                }
            }
        }
    }
}

#playerview {
    height:100%;
    overflow:auto;
    input[type=text] {
        box-sizing: border-box;
        font-size: @font-l;
        width: 100%;
        border-radius: 5px;
        border: 0;
        padding: 0.8rem;
        text-align: center;
        background-color: tint(@blue, 80%);
    }
    #content {
        display:flex;
        align-items: center;
        overflow:auto;
    }
    #step-sound {
        .hide();
    }

    #step-info {
        .hide();
    }

    #step-play {
        .hide();
    }
}