@bg-colour: #202732;
@yellow: #fff1c1;
@red: #f76262;
@blue: #216583;
@green: #3ca87f;

@body-width: 100%;
@font-colour-base: darken(#ffffff, 10%);

html {
    background-color: @bg-colour;
    height:100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    color: @font-colour-base;
    height:100%;
}

.layoutwrapper {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}

#header {
    background-color: @blue;
    color:#ffffff;
    font-size:1rem;
    margin:0;
    padding: 3rem 0rem 2rem 0rem;
    h1 {
        width: @body-width;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

#content {
    width: 100%;
    margin: auto;
    flex-grow: 1;
    .startscreenstep {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        &.show {
            transform: translateX(0);
        }
        &.hide {
            transform: translateX(-100%) !important;
        }
    }
}

#adminview {
    #content {
        margin-top:2rem;
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        #playerlist {
            min-width: 20%;
            h2 {
                margin-top:0.5rem;
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    border: 1px solid lighten(@bg-colour, 20%);
                    border-radius: 5px;
                    background-color: lighten(@bg-colour, 10%);
                    padding: 0.6rem;
                    margin-bottom: 1rem;
                }
            }
        }

        #control {
            min-width: 25%;
            display:flex;
            flex-direction: column;
            button {
                background-color: @green;
                color: #ffffff;
                font-size:1.4rem;
                border: 0;
                border-radius: 5px;
                padding:1rem 2rem;
                margin-top:1rem;
                &:hover {
                    background-color: darken(@green, 10%);
                }
                &:active {
                    background-color: darken(@green, 20%);
                }
            }
            ol {
                list-style-position: inside;
                padding-left:0;
                li {
                    font-size: 1.2rem;
                    padding:0.5rem 0.5rem;
                    &:hover {
                        background-color: lighten(@bg-colour, 10%);
                    }
                    &::before {
                        width:1rem;
                        content: " ";
                        display: inline-block;
                    }
                    .time {
                        float: right;
                        margin-left:2rem;
                        color: darken(@font-colour-base, 20%);
                    }
                }
            }
        }
    }
}